<% layout("/layouts/boilerplate") %>

<body>
  <div class="container mt-4">

        <!-- Listing Title -->
        <div class="row mb-3">
        <div class="col-8 offset-2 text-center">
            <h3><%= listing.title %></h3>
        </div>
        </div>

        <!-- Listing Card -->
        <div class="row mb-4">
        <div class="card col-md-6 offset-md-3 show-card listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-imag" alt="listing image">
            <div class="card-body">
                <p><i>Owned By-<%=listing.owner.username%></i></p>
                <p class="card-text"><%= listing.description %></p>
                <ul class="list-unstyled">
                    <p class="card-text"><li><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %></li></p>
                    <p class="card-text"><li><strong>Location:</strong> <%= listing.location %></li></p>
                    <p class="card-text"><li><strong>Country:</strong> <%= listing.country %></li></p>
                </ul>
            </div>
        </div>
        </div>

        <!-- Edit/Delete Buttons -->
        <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3 d-flex justify-content-between">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>

                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
                <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
          
        <!-- Review Form -->
        <% if(currUser) { %>
        <div class="row mb-5">
        <div class="col-md-6 offset-md-3">
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/review" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="ratings" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="ratings" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control" required></textarea>
                <div class="invalid-feedback">
                Please add a comment for the review.
                </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
        </div>
        <hr>
        <% } %>
        <!-- All Reviews -->
                <p><b>All Reviews</b></p>
                
                <div class="row">
                     <% for (let review of listing.reviews) { %>
                     <div class="card col-5 ms-3 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username %></h5>
                                <p class="card-text"> <%= review.comment %></p>
                                <p class="card-text"> <%= review.rating %> stars</p>
                                <form
                                class="mb-3"
                                method="POST"
                                action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" 
                                 >
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            </div>
                      </div>
                     <% } %> 
                </div>

  </div>
</body>
